.chatsidebar-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.chatsidebar-content {
    flex: 1;
    text-align: left;
}

.chatsidebar-last-message {
    font-weight: 300;
    font-size: 1rem;
}

.chatsidebar-hour-last-message {
    flex-shrink: 0;
    font-size: 16px;
    align-self: flex-start;
    justify-self: center;
}

.chatsidebar-icon {
    justify-self: center;
    align-self: center;
}