.home{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background-color: pink;

    display: flex;
    flex-direction: column;
}


.home-img{
    max-width: 100%;
    height: auto;
}

.texto{
    /* position: absolute; */
    /* top: 300px; */
    /* left: -70px; */
    /* justify-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 100px;
    z-index: 1;
    position: absolute;
    bottom: rem;
    max-width: 50%;
}

.t-1{
    color: crimson;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.t-2{
    color: rgb(134, 9, 42);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.t-4{
    background-color: crimson;
    color: white;
    padding: 8px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;

}

.hero {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}


.link-hero-image {
    /* display: flex; */
    /* max-height: 700px; */
    /* display: center; */
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
}