.swiper {
    width: 100%;
    max-width: 800px; 
    height: 100%;
}

@media (max-width: 900px) {
    .swiper {
        width: 90%; 
        height: auto; 
        min-height: 70%;
    }

    .swiper-slide {
        height: auto;
    }
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    background-color: white;
    
}
@media (max-width: 768px) {
    .swiper {
        max-width: 90%; 
    }
}